<h2>Select one of the following links</h2>

<h3><%= link_to 'View Houses', houses_path %></h3>
<br>
<h3><%= link_to 'View your inquiries', inquiries_path %></h3>
<br>
<h3><%= link_to 'View Real Estate Companies', recompanies_path %></h3>
<br>
<h3><%= link_to 'View House Hunters', house_hunters_path %></h3>
<br>
<h3><%= link_to 'View Inquiries', listinquiries_path %></h3>
<br>
